<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" th:href="@{static/css/bootstrap.min.css}"/>
    <!-- jQuery -->
    <script th:src="@{static/js/jquery-latest.min.js}"></script>
    <title>主页</title>
</head>
<body>
<div class="container">
    <p>主页测试文字</p>
</div>

<!-- Bootstrap 核心 JavaScript 文件 -->
<script th:src="@{static/js/bootstrap.min.js}"></script>
</body>
</html>
